$purple: #8a4baf;
$yellow: #4d4c7d;

// html {
// 	  scroll-behavior: smooth;
// }

// html, div {
// 	color: white
// }

// body {
// 	background-color: black;
// }

body {
	background-color: black;
	font-family: 'Helvetica Neue', sans-serif; 
	color: white;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Permanent Marker', cursive;
	color: white;
}

p {
	line-height: 2rem;
}

.nav {
	padding: 1rem 3rem 1rem 3rem;
	position: sticky;
	z-index: 9999;
	top: 0;
	background: linear-gradient( rgba(0,0,0,1) 60%, rgba(255,255,255,0) 100%);
	h2{
		color: white;
		display: inline;
	}
		ul {
			display: inline-block;
			list-style-type: none;
		}

		li {
			display: inline;
			margin-right: 1rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: white;
			transition-duration: 0.3s;
			cursor: pointer;
		}
		li:hover {
			color: $purple;
			text-decoration: none;
		}
}

.section {
	height: calc(100vh - 50px);
	padding: 8rem 20%;
		@media only screen and (max-width: 600px) {
			padding: 0;
			height: auto;
		}

		/* Medium devices (landscape tablets, 768px and up) */
		@media only screen and (max-width: 768px) {
			padding: 5rem 2rem;
			height: auto;
		}

		/* Large devices (laptops/desktops, 992px and up) */
		@media only screen and (max-width: 992px) {
			padding: 4rem 20%;
		}
		/* Extra large devices (large laptops and desktops, 1200px and up) */
		@media only screen and (min-width: 1200px) {
			padding: 8rem 20%;
		}
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - 94px);	
}

.header-img {
	width: 350px;
	border-radius: 50%;
	border: 6px solid $purple;
}

.header-left {
	padding: 0 20%;
	text-align: center;
	h1 {
		font-size: 4rem;
		line-height: 1rem;
		@media only screen and (max-width: 600px) {
			font-size: 3rem;
		}

	}
	.title {
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

.over{
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%)
   }

.sub-h {
	color: $purple;
	letter-spacing: 1px;
}

hr {
	border-bottom: 1px solid lightgray;
	margin: 3rem 0;
}

.text-purple {
	color: $purple;
	font-weight: bold;
}

.text-yellow {
	color: $yellow;
	font-weight: bold;
}
