$purple: #8a4baf;
$yellow: #4d4c7d;

html {
	  scroll-behavior: smooth;
}

html, div {
	background-color: black;
	color: white
}

.nav {
	padding: 1.5rem 3rem 2rem 3rem;
	position: sticky;
	height: 94px;
	top: 0;
	h3 {
		color: white;
		display: inline;
	}
		ul {
			float: right;
			list-style-type: none;
		}

		li {
			display: inline-block;
			margin-right: 1rem;
			text-transform: uppercase;
			letter-spacing: 2px;

			a {
				color: white;
				transition-duration: 0.3s;
			}
			a:hover {
				color: $purple;
				text-decoration: none;
			}
		}
}

.section {
	height: calc(100vh - 94px);
	padding: 8rem 0;
		@media only screen and (max-width: 600px) {
			padding: 0;
			height: auto;
		}

		/* Medium devices (landscape tablets, 768px and up) */
		@media only screen and (max-width: 768px) {
			padding: 5rem 1rem;
			height: auto;
		}

		/* Large devices (laptops/desktops, 992px and up) */
		@media only screen and (max-width: 992px) {
			padding: 4rem 1rem;
		}
		/* Extra large devices (large laptops and desktops, 1200px and up) */
		@media only screen and (min-width: 1200px) {
			padding: 8rem 0;
		}
}


.header {
	h1 {
		color: white;
		/* Extra small devices (phones, 600px and down) */
		@media only screen and (max-width: 600px) {
			font-size: 1.3rem
		}

		/* Small devices (portrait tablets and large phones, 600px and up) */
		@media only screen and (min-width: 600px) {
			font-size: 1.5rem
		}

		/* Medium devices (landscape tablets, 768px and up) */
		@media only screen and (min-width: 768px) {
			font-size: 2rem
		}

		/* Large devices (laptops/desktops, 992px and up) */
		@media only screen and (min-width: 992px) {
			font-size: 2.5rem
		}
		/* Extra large devices (large laptops and desktops, 1200px and up) */
		@media only screen and (min-width: 1200px) {
			font-size: 3rem
		}

	}
	display: flex;

	.header-left {
		flex: 1;
		padding: 0 2rem 0 0;
	}

	.header-right {
		flex: 1;
	}

	.headshot {
		border-radius: 100%;
		top: 0;
		right: 0;
				@media only screen and (max-width: 600px) {
					width: 100%;
				}
				/* Medium devices (landscape tablets, 768px and up) */
				@media only screen and (max-width: 768px) {
					width: 90%;
				}

				/* Extra large devices (large laptops and desktops, 1200px and up) */
				@media only screen and (max-width: 1200px) {
					width: 80%;
				}
	}

}

.sub-h {
	color: $purple;
	letter-spacing: 1px;
}

hr {
	border-bottom: 1px solid lightgray;
	margin: 3rem 0;
}

.text-purple {
	color: $purple;
	font-weight: bold;
}

.text-yellow {
	color: $yellow;
	font-weight: bold;
}
